
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>


    <h1>Choose Your Flooring</h1>
    <div class="sample-container">
      <!-- LH-81314 -->
      <div class="sample" 
        style="background-image: url('<%= asset_path("floor_image/LH-81314_4191061_220202_C_01.jpg") %>');" 
        onclick="showProductInfo('LH-81314', 'https://item.rakuten.co.jp/kabegamiworld/lh81314-81316/', '<%= asset_path("floor_image/LH-81314_4191061_220202_R_01.jpg") %>', '<%= asset_path("floor_image/floor.png") %>', '113.75px 77.5px')">
      </div>
      <!-- LH-81325 -->
      <div class="sample" 
        style="background-image: url('<%= asset_path("floor_image/LH-81325_4191067_220202_C_01.jpg") %>');" 
        onclick="showProductInfo('LH-81325', 'https://item.rakuten.co.jp/kabegamiworld/lh81325-81326/', '<%= asset_path("floor_image/LH-81325_4191067_220202_R_01.jpg") %>', '<%= asset_path("floor_image/floor.png") %>', '113.75px 77.5px')">
      </div>
      <!-- LH-81310 -->
      <div class="sample" 
        style="background-image: url('<%= asset_path("floor_image/LH-81310_4166088_220202_C_01.jpg") %>');" 
        onclick="showProductInfo('LH-81310', 'https://item.rakuten.co.jp/kabegamiworld/lh81308-81310/', '<%= asset_path("floor_image/LH-81310_4166088_220202_R_01.jpg") %>', '<%= asset_path("floor_image/floor.png") %>', '113.75px 77.5px')">
      </div>
      <!-- LH-81309 -->
      <div class="sample" 
        style="background-image: url('<%= asset_path("floor_image/LH-81309_4166087_220202_C_01.jpg") %>');" 
        onclick="showProductInfo('LH-81309', 'https://item.rakuten.co.jp/kabegamiworld/lh81308-81310/', '<%= asset_path("floor_image/LH-81309_4166087_220202_R_01.jpg") %>', '<%= asset_path("floor_image/floor.png") %>', '113.75px 77.5px')">
      </div>
      <!-- LH-81318 -->
      <div class="sample" 
        style="background-image: url('<%= asset_path("floor_image/LH-81318_4223062_220202_C_01.jpg") %>');" 
        onclick="showProductInfo('LH-81318', 'https://item.rakuten.co.jp/kabegamiworld/lh81317-81318/', '<%= asset_path("floor_image/LH-81318_4223062_220202_R_01.jpg") %>', '<%= asset_path("floor_image/floor.png") %>', '113.75px 77.5px')">
      </div>
      <!-- LAY-87313 -->
      <div class="sample" 
        style="background-image: url('<%= asset_path("floor_image/LAY-87313_4107470_220602_C_01.jpg") %>');" 
        onclick="showProductInfo('LAY-87313', 'https://www.diy-shop.jp/item.php?cc=0000001028', '<%= asset_path("floor_image/LAY-87313_4107470_220602_R_01.jpg") %>', '<%= asset_path("floor_image/floor.png") %>', '113.75px 77.5px')">
      </div>
      <!-- LAY-87317 -->
      <div class="sample" 
        style="background-image: url('<%= asset_path("floor_image/LAY-87317_4107474_220602_C_01.jpg") %>');" 
        onclick="showProductInfo('LAY-87317', 'https://www.diy-shop.jp/item.php?cc=0000001029', '<%= asset_path("floor_image/LAY-87317_4107474_220602_R_01.jpg") %>', '<%= asset_path("floor_image/floor.png") %>', '113.75px 77.5px')">
      </div>
      <!-- LYT-84147 -->
      <div class="sample" 
        style="background-image: url('<%= asset_path("floor_image/LYT-84147_4234062_230404_C_01.jpg") %>');" 
        onclick="showProductInfo('LYT-84147', 'https://www.diy-shop.jp/item.php?cc=0000099936', '<%= asset_path("floor_image/LYT-84147_4234062_230407_R_01.jpg") %>', '<%= asset_path("floor_image/floor.png") %>', '113.75px 77.5px')">
      </div>
      <!-- LYT-84148 -->
      <div class="sample" 
        style="background-image: url('<%= asset_path("floor_image/LYT-84148_4166821_230404_C_01.jpg") %>');" 
        onclick="showProductInfo('LYT-84148', 'https://www.diy-shop.jp/item.php?cc=0000099936', '<%= asset_path("floor_image/LYT-84148_4166821_230407_R_01.jpg") %>', '<%= asset_path("floor_image/floor.png") %>', '113.75px 77.5px')">
      </div>
      <!-- LYT-84149 -->
      <div class="sample" 
        style="background-image: url('<%= asset_path("floor_image/LYT-84149_4166822_230407_C_01.jpg") %>');" 
        onclick="showProductInfo('LYT-84149', 'https://www.diy-shop.jp/item.php?cc=0000099936', '<%= asset_path("floor_image/LYT-84149_4166822_230407_R_01.jpg") %>', '<%= asset_path("floor_image/floor.png") %>', '113.75px 77.5px')">
      </div>
    </div>
    <div id="preview">
      <div id="background"></div>
      <div id="overlay" style="background-image: url('<%= asset_path("first_room.png") %>'); background-size: cover;"></div>
    </div>
    <div id="product-info">
      <p id="product-number"></p>
      <p><a id="product-link" href="" target="_blank">商品情報</a></p>
    </div>
    <script>
      function changePreview(backgroundImageUrl, overlayImageUrl, backgroundSize) {
        var background = document.getElementById('background');
        var overlay = document.getElementById('overlay');
        background.style.backgroundImage = 'url(' + backgroundImageUrl + ')';
        overlay.style.backgroundImage = 'url(' + overlayImageUrl + ')';
        background.style.backgroundSize = backgroundSize; // 背景サイズを動的に変更
      }

      function showProductInfo(productNumber, productLink, backgroundImageUrl, overlayImageUrl, backgroundSize) {
        changePreview(backgroundImageUrl, overlayImageUrl, backgroundSize);

        var productInfo = document.getElementById('product-info');
        var productNumberElem = document.getElementById('product-number');
        var productLinkElem = document.getElementById('product-link');

        productNumberElem.textContent = 'Product Number: ' + productNumber;
        productLinkElem.href = productLink;

        productInfo.style.display = 'block'; // 商品情報を表示
      }
    </script>

